@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
}

.main-container{
    width: 60%;
    height: 500px;
    background: linear-gradient(180deg, #FFFFFF -28.43%, #D6D6D6 71.57%);
    box-shadow: 0px 24.8px 49.6px rgba(51, 51, 51, 0.25), inset 0px -8.26667px 8.26667px #CCCCCC, inset 0px 8.26667px 8.26667px #FFFFFF;
    border-radius: 10px;
    padding:30px 200px 20px 200px;
    box-sizing: border-box;
    position: relative;
}

.title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.submitBox{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.submitBox input{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #6F8176;
    border-radius: 8px 0px 0px 8px;
    width: 80%;
    height: 35px;
    padding: 1px 0px 1px 20px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.submitBox input:focus{
    /* outline: 1px solid #3D6EEC; */
    outline: none;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: rgba(61, 110, 236, 0.73);
    border-radius: 8px 0px 0px 8px;
}

.submitBox button{
    background-color:  #6F8176;
    width: 20%;
    height: 35px;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: #fff;
    border-radius: 0px 8px 8px 0px;
    pointer-events: none;
}



.change-button{
    display: none;
    background-color: #3D6EEC;
    color: #000;
    border: none;
    outline: none;
    height: 30px;
    width: 15%;
}


.listItem li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.itemName, .itemName:focus{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 80%;
    border: none;
    background-color: transparent;
    outline: none;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    box-sizing: border-box;
}

.canRename{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #6F8176;
    padding-left: 10px;
    width: 85%;
}




.itemIcon{
    display: flex;
    gap: 10px;
}


.deleteIcon:hover path {
    fill: #DD4646;
  }

.editIcon:hover path{
    fill: #3D6EEC;
}


.clearItem {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #CD3636;
}

.clearItem.cleared{
    color: #6F8176;
    pointer-events: none;
}


.submitBox button.active{
    pointer-events: auto;
    background-color: #6F8176'
}

.fade-out{
    animation: fadeOut 200ms ease-in-out;
    opacity: 1;
}

.delete{
    animation: fadeOut2 200ms ease forwards;
    opacity: 1;
}

.fade-in, .new{
    animation: fadeIn 200ms ease-out forwards;
    opacity: 0;
}


    @keyframes fadeOut2 {
        from {
        opacity: 1;
        }
        to {
        opacity: 0;
        display: none;
        }
    }


  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  